<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <div class="fw-bold">
    <div class="container my-3">
      <div class="fw-bold"><h1>WEATHER APP!</h1></div>
  <form method="POST">
    <div class="mb-3">
      <label for="city" class="form-label">Enter city name : </label>
      <input type="city" name="city" class="form-control" id="city" autocomplete="off">
    <button type="submit" class="btn btn-light my-3">Search</button>
  </form>
    </div>
    <div>
        <figure class="image is-75x75">
          <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
        </figure>
      <p>City : {{weather.city}}</p>
      <p>Temperature : {{weather.temperature}} °C</p>
      <p>Description : {{weather.description}}</p>
    </div>
    </div>
  </div>
</body>
</html>